.mainwrapper{
    width: 500px;
    height: 1000px;
    align-items: center;
   
    border-radius: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.contentHeading{
    margin: 0;
    width: 500px;
    height:180px;
    background-image: url('../../assets/img/headingimg.jpeg');
    background-repeat: no-repeat;
    background-size: 500px;
    border-radius: 20px 20px 0px 0px ;

}

.heading{
    text-align: left;
    display: block;
    padding: 10px 0px 30px 30px;
    color: white;
    line-height: 3px;
}

.part2{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px 15px;
}
.part2:before {
    content: "";
    position: absolute;
    /* left: 0; right: 0;
    top: 0; bottom: 0; */
    /* width: 500px;
    height: 1000px;
    align-items: center;
   margin: auto;
    border-radius: 20px;
    margin: auto; */
    /* height: 818px;
    width: 530px; */
    height: 900px;
    width: 470px;
    margin: 0px;
    padding: 0px 15px;
    border-radius: 0px 0px 20px 20px;
    background: rgba(27, 160, 221, 0.5);
  }


.allpoints{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.individualpoints{
    margin: 0px;
    padding: 10px 20px 0px 20px;
    height: 90px;
    display: flex;
    flex-direction: row;
    background-color: #fff;
}

.individualpointsrev{
    margin: 0px;
    padding: 10px 20px 0px 20px;
    height: 90px;
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(174, 186, 187);
}

.pointscontent{
    margin: 0;
    padding: 10px 30px;
    height: max-content;
    margin-top: auto;
    margin-bottom: auto;
}

.pointTilte{
    padding: 5px 0px;
    font-weight: bold;
    font-size: 18px;
}

.pointdesc{
    font-size: 12px;
}


.icon{
    height: 60px;
    padding  : 0;
    margin: auto;
}