*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
  .mainContainer {
    width: 100%;
    position: relative;
  }
  
  .cardContainer {
    position: absolute;
    width: 32%;
    margin: auto;
    top: 200px;
    left: 33%;
    padding: 1rem;
    background-color: rgb(250, 240, 100);
    border-radius: 20px;
  }
  
  .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
    padding: 1rem;
  }
  
  .selectPicker {
    width: 95%;
    margin: 1rem auto;
    padding: 1rem;
    font-size: 18px;
  }
  
  .btn {
    width: 95%;
    margin: 1.2rem auto;
    padding: 0.8rem 0;
    background-color: #0652c3;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0652c3;
  }
  
  .editContainer {
    width: 100%;
    margin: auto;
  }
  
  .tableContainer {
    width: 50%;
    margin: 3rem auto;
    border-collapse: collapse;
  }
  
  .tableContainer th,
  .tableContainer td {
    border: 1px solid #ddd;
    padding: 10px;
    width: 200px;
    text-align: center;
  }
  
  .tableContainer th {
    background-color: #0652c3;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
  }
  
  .tableContainer th:first-child {
    width: 320px;
  }
  
  .editContainer .formContainer {
    width: 40%;
    margin: 1rem auto;
  }
  
  .editContainer .btn {
    width: 200px;
    margin: 3rem 23rem;
  }
  
  .formContainer .input {
    width: 80%;
    margin: 1rem auto;
    padding: 1.5rem 2rem;
    height: 40px;
  }
  
  .formContainer .input::placeholder {
    font-size: 17px;
    color: #000;
  }